/*
 * It is advised not to edit the smartadmin_production.css
 * as this will override any changes you make in the 
 * later versions of this theme. 
 * 
 * We advise that you use use this CSS to override 
 * SmartAdmin styles. 
 * 
 * Rename the stylesheet to whatever your liking so it will stay
 * unique to you with each update of SmartAdmin.
 */

/*
 * INDEX
 * 
 * - HTML
 * - BODY
 * - CUSTOM STYLES
 */

 html{
 	background: white;
 }

 /*HOME*/
#logo img {
    width: 20px;
    height: auto;
    padding-left: 3px;
}

#logo-group>span {
	width: 100%;
	font-size: 1.2em;
	color: #f7f7f7;
}

/**SEARCH INPUT**/
.smart-style-2 .header-search{
	display: block !important;
}

.smart-style-2 .header-search>input[type=text] {
	border-radius: 5px;
	background: white;
	color: #2c3742;
}

.smart-style-2 .header-search>button{
	top: 1px;
	color: #2c3742;
}

/** RESULTS **/
.easy-pie-title{
	width: auto;
}
.icon-color-neutral{
	color: #ff862a;
    font-size: 18px;
}

.red-tweet {
	background-color: #ff9a9a;
}

.green-tweet {
	background-color: #8aa680;
}

/** PREVIEW **/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {

   opacity: 1;

}

label.number-tweets {
	margin-left: 15px;
	display: inline-block;
}

input.numberInput{
    color: #333333;
    height: 25px;
    width: 60px;
    margin-left: 6px;
    line-height: 2em;
    -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
    border-radius: 5px;
    padding-left: 5px;
    border: 1px solid #558989;
}

.jarviswidget>header{
	height: 50px;
}

.jarviswidget>header h2{
	line-height: 50px;
	text-overflow: clip;
    width: 100%;
}

/** SPINNER **/
.router-animation-container .router-animation-loader{
    position: fixed !important;
    top: 30% !important;
    left: 30% !important;
    font-size: 3em;  
}