<header id="header">
<div id="logo-group">

    <!-- PLACE YOUR LOGO HERE -->
    <span id="logo"> <img src="styles/img/logo_sentiment_small_white.png" alt="SmartAdmin"> 
        <span class="hidden-xs">Twitter Sentiment Analysis</span>
    </span>
    <!-- END LOGO PLACEHOLDER -->
</div>


<!-- pulled right: nav area -->
<div class="pull-right">

    <!-- collapse menu button -->
    <div id="hide-menu" class="btn-header pull-right">
        <span> <a toggle-menu title="Collapse Menu"><i
                class="fa fa-reorder"></i></a> </span>
    </div>
    <!-- end collapse menu -->

    <!-- fullscreen button -->
    <div id="fullscreen" class="btn-header transparent pull-right">
        <span> <a full-screen title="Full Screen"><i
                class="fa fa-arrows-alt"></i></a> </span>
    </div>
    <!-- end fullscreen button -->

</div>
<!-- end pulled right: nav area -->

</header>